.workspace__info_size_25 {
  height: 25px;
}

.workspace__info_size_50 {
  height: 50px;
}

.workspace__info_size_75 {
  height: 75px;
}

.workspace__info_size_100 {
  height: 100px;
}

.workspace__info_size_105 {
  height: 105px;
}

.workspace__info_size_110 {
  height: 110px;
}

.workspace__info_size_115 {
  height: 115px;
}

.workspace__info_size_120 {
  height: 120px;
}

.workspace__info_size_150 {
  height: 150px;
}

.workspace__info_size_200 {
  height: 200px;
}

.workspace__info_size_250 {
  height: 250px;
}

.workspace__info_size_300 {
  height: 300px;
}

.workspace__info_size_600 {
  height: 600px;
}