.button {
  height: 50px;
  text-align: center;
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 0.9375rem;
  line-height: 2.13;
  border-radius: 10px;
  background: #20D489;
  outline: none;
  border: none;
}

.button:hover {
  background: #1BB876;
}