.workspace__info_prompt {
  background: #F4FAF6;
  border: 1px solid #E8F3ED;
  box-sizing: border-box;
  border-radius: 6px;
  margin: 10px 0 0 0;
}

.workspace__info_prompt img {
  margin: 0 7px 0 0;
}

.workspace__info_prompt-subtitle {
  background: #F4FAF6;
  margin: 10px 0 0 0;
}