.navigation-panel__button {
  height: 32px;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 2.0;
  background: #1B1F34;
  border-radius: 6px 0px 0px 6px;
  color: #DADADA;
  border: none;
  outline: none;
  text-align: left;
  margin: 0;
  padding: 0 0 0 20px;
  cursor: pointer;
}