.workspace__client-info-image {
  margin: 0 34px 0 0;
  display: flex;
  height: 18px;
  width: 18px;
  background-image: url('../../../images/info-arrow-down.png');
  background-repeat: no-repeat;
  background-position: center;
}