.workspace__client-info-image {
  margin: 0 34px 0 0;
  text-align: center;
  outline: none;
  border: none;
  display: flex;
  align-self: center;
  height: 32px;
  width: 32px;
  background-image: url('../../../images/info-arrow-down.png');
  background-repeat: no-repeat;
}