.workspace__section-radio {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin: 10px 0 0 0;
  height: 74px;
  padding-top: 34px;
  border-radius: 6px;
  border: 1px solid #F1F1F1;
}