.workspace__client-info {
  background: #F5F8FA;
  border-radius: 6px;
  height: 75px;
  border: none;
  outline: none;
  text-align: left;
  color: #2E2F36;
  font-style: normal;
  font-weight: bold;
  font-size: 1.0625rem;
  line-height: 2.0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin: 0 0 10px 0;
}

.workspace__client-info div {
  display: flex;
  align-items: center;
}

.workspace__client-info div img {
  margin: 0 7px 0 14px;
  background-position: center;
  background-repeat: no-repeat;
  height: 21px;
  width: 21px;
}

