.footer-panel__button {
  width: 261px;
  margin: 0 14px 24px 26px;
  font-style: normal;
  font-weight: bold;
  font-size: 0.9375rem;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  cursor: pointer;
}