.footer-panel__button {
  width: 253px;
  margin: 0 14px 24px 26px;
  font-style: normal;
  font-weight: bold;
  font-size: 0.9375rem;
  line-height: 2.13;
  align-items: center;
  text-align: center;

}